/* BOUNCY BUTTON https://fdossena.com/?p=html5cool/buttons/i.frag */
.bouncy {
    animation:bouncy 8s infinite linear;
    position:absolute;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

button {
    padding:5px;
    background-color:#232531;
    border:0.16em solid rgba(255,255,255,0);
    border-color: #f14e4e;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
    margin-top: 80vh;
    margin-left: -30px;
    height: 5vh;
}

button:hover {
    border-color: #4ef18f;
}



