$watermelon: #fd5b78;
$mint: #aaf0d1;
$blizzardblue: #50bfe6;
$shockingpink: #ff6eff;
$rorange: #ff681f;
$laserlemon: #FFFF66;
$navy: #0066cc;
$blueyonder: #7a89b8;
$whitepowder: #fefefa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232531;
}

#allcontainer {
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to right top, #b2c5ce, #99bfd1, #7cc3df, #40b2df, #05a6e0);
  position: relative;
  overflow: hidden;
}

.center {
  text-align: center;
}

.bottom {
  /* margin-top: 70%; */
}

#footer {
  margin: auto;
  width: 75vw;
  color: black;
  font-size: 3vw;
  background-color: tomato;
  text-align: center;
}

.text-white {
  font-size: 24px;
  font-family: "Ovo";
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
}

.text-black {
  font-size: 24px;
  font-family: "Ovo";
  color: rgb(0, 0, 0);
  text-shadow: 0px 2px 2px rgba(99, 99, 99, 0.75);
}

#zipform {
  position: relative;
  font-size: 2vh;
  font-family: 'Lato', sans-serif;
  margin-top: 50vh;
  text-align: center;
  height: 5vh;
  display: none;
}

input[type="text"] {
  background-color: $whitepowder;
  padding: 10px;
  font-size: 24px;
  margin: 0.5em;
  border: none;
}

::placeholder {
  color: $rorange;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}