img {	
    max-height: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#apodDesc {   
    text-align: center; 
    color: #F072A9;
    background-color: black;
    width: 100%;
    padding: 25px;
    font-family: 'Crimson Text', serif;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    display: block;	        
	box-shadow: inset 0px 0px 5px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 5px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 5px #FFE5E5;
}

#imgContainer {
    max-width: 100%;
    background-color: black;    
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.75);
}

#imgBox {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
	background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
	-webkit-box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 12px -2px rgba(0, 0, 0, 0.75);
}