body {
    background-color: #232531;
}

* {
    padding: 3px;
    box-sizing: border-box;    
}

.days {
    margin: 2%;
    float: left;
    width: 15%;
    left: 49%;
    text-align: center;
    color: black;
    -webkit-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.75);
    /* padding: 8%; */
}

#display {
    position: absolute;
    top: 10%;
    left: 15%;
    margin-top: -50px;
    margin-left: -50px;
    width: 70%;
    height: 70%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;        
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
    -webkit-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.75);
}

#forecast {
    width: 95%;
    height: 95%;    
}

h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;    
    font-size: 5em;
}

#indexIcon {
    margin-left: 30px;
}
#display.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
#display.cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}
#display.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}